

<main>
    <div class="container d-grid gap-3 div-ras content mt-5 mb-5 anim-5">
        <div class="row justify-content-center mt-3">
            <div class="col-12 text-center">
                <p class="h2">Потери теплоты излучения от время открытия окна</p>
            </div>
        </div>
        <div class="row justify-content-center mt-3">

            <canvas class="col-12 text-center" id="myChart"></canvas>

        </div>

    </div>
</main>

