@model _2021_LazarishinArtur.Web.Models.UserViewModels.CalculateViewModel

<main>
    <form class="form-ras anim-5">
        <div class="container d-grid gap-3 div-ras content mt-5 mb-5 ">

            <div class="row justify-content-center mt-3">
                <div class="col-12 text-center">
                    <p class="h2">Ведите данные для расчёта:</p>
                </div>
            </div>



            <div class="row justify-content-center">
                <label for="windowShape" class="col-sm-8 col-form-label">Форма окна</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <select class="form-select" name="WindowShape" asp-for="WindowShape" id="windowShape" oninput="OnSelectionChange (this)">
                            <option selected value="Прямоугольное">Прямоугольное</option>
                            <option value="Квадратное">Квадратное</option>
                            <option value="Круглое">Круглое</option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="row justify-content-center" name="Rectangle">
                <label for="widthWindow" class="col-sm-8 col-form-label">Ширина окна (B)</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input id="widthWindow" type="text" autofocus oninput="HideBlock()" asp-for="WidthWindow" class="form-control" aria-describedby="widthWindow">
                        <span class="input-group-text" id="widthWindow">м</span>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center" name="Rectangle">
                <label for="heightWindow" class="col-sm-8 col-form-label">Высота окна (H)</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input id="heightWindow" asp-for="HeightWindow" oninput="HideBlock()" type="text" class="form-control" aria-describedby="heightWindow">
                        <span class="input-group-text" id="heightWindow">м</span>
                    </div>
                </div>
            </div>




            <div class="row justify-content-center display-none" name="Squared">
                <label for="sideLength" class="col-sm-8 col-form-label">Сторона окна (H)</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input id="sideLength" asp-for="SideLength" type="text" oninput="HideBlock()" class="form-control" aria-describedby="sideLength">
                        <span class="input-group-text" id="sideLength">м</span>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center display-none" name="Circle">
                <label for="diameter" class="col-sm-8 col-form-label">Диаметр окна (D)</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input id="diameter" asp-for="Diameter" type="text" oninput="HideBlock()" class="form-control" aria-describedby="diameter">
                        <span class="input-group-text" id="diameter">м</span>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <label for="tempBake" class="col-sm-8 col-form-label">Температура в печи (tпеч)</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input id="tempBake" asp-for="TempBake" type="text" oninput="HideBlock()" class="form-control" aria-describedby="tempBake">
                        <span class="input-group-text" id="tempBake">°C</span>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <label for="wallThickness" class="col-sm-8 col-form-label">Толщина стенки (S)</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input id="wallThickness" asp-for="WallThickness" type="text" oninput="HideBlock()" class="form-control" aria-describedby="wallThickness">
                        <span class="input-group-text" id="wallThickness">м</span>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center mb-5">
                <label for="windowOpenTime" class="col-sm-8 col-form-label">Время открытия окна (τ)</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input id="windowOpenTime" asp-for="WindowOpenTime" oninput="HideBlock()" type="text" class="form-control" aria-describedby="windowOpenTime">
                        <span class="input-group-text" id="windowOpenTime">с</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <a href="#result" type="submit" onclick="Edit(this)" class="btn btn-outline-light btn-lg bt_z">
                        Рассчитать
                    </a>
                </div>
            </div>

        </div>

        <div id="result" class="container gap-3 div-ras content mt-5 mb-5 display-none">

            <div class="row justify-content-center mt-3">
                <div class="col-12 text-center">
                    <p class="h2">Результат расчёта:</p>
                </div>
            </div>

            <div class="row justify-content-center">
                <label for="apertureRatio" class="col-sm-8 col-form-label">Коэффициент диафрагмирования(Φ)</label>
                <div class="col-sm-4 ">
                    <div class="input-group">
                        <input disabled id="apertureRatio" asp-for="GetApertureRatio" type="text" class="form-control" aria-describedby="apertureRatio">
                        <span class="input-group-text" id="apertureRatio"></span>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center mb-1">
                <label for="radiationHeatLoss" class="col-sm-8 col-form-label">Потери теплоты излучения (Qл)</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input disabled id="radiationHeatLoss" asp-for="GetRadiationHeatLoss" type="text" class="form-control" aria-describedby="radiationHeatLoss">
                        <span class="input-group-text" id="radiationHeatLoss">Дж</span>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center mb-2">
                <label for="nameRas mb-1" class="col-sm-8 col-form-label">Наименование расчёта</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input id="nameRas" asp-for="Name" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="button" onclick="Save()" class="btn btn-outline-light btn-lg bt_z">
                        Сохранить
                    </button>
                    <a href="@Url.Action("Report",Model)" class="btn btn-outline-light btn-lg bt_z">
                        Отчёт
                    </a>
                </div>
            </div>
        </div>
        <input id="id" type="hidden" asp-for="Id" value="@Model?.Id" />
    </form>
</main>

