<header id="header" class="header anim-3">

    <div class="container anim-4">

        <div class="row">

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark menu">
                <div class="container-fluid ">
                    <a class="navbar-brand" href="/Home/Index">
                        <div class="d-flex ">
                            <img src="/img/logo.png" width="50" height="50" class="d-inline-block align-top" alt="" loading="lazy">
                            <p class=" h4 img-txt">Металлург</p>
                        </div>

                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <div class="d-flex">
                            <a href="~/Account/Login" class="btn btn-outline-light bt_v">Войти</a>
                            <a href="~/Account/Register" class="btn btn-outline-light">Зарегистрироваться</a>
                        </div>
                    }
                    else
                    {
                        @if (User.IsInRole("user"))
                        {
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/User/Calculate">Рассчитать</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/User/Calculations">Мои расчёты</a>
                                    </li>
                                </ul>
                            </div>
                        }
                        <div class="d-flex div-auth">

                            @if (User.IsInRole("user"))
                            {
                                <img src="/img/user.png" width="40" height="40">
                            }

                            @if (User.IsInRole("admin"))
                            {
                                <img src="/img/admin.png" width="40" height="40">
                            }

                            <p class="h4">@User.Claims.Last().Value</p>

                            <form method="post" asp-controller="Account" asp-action="Logout">
                                <input class="btn btn-outline-light btn-cal" type="submit" value="Выход" />
                            </form>
                        </div>
                    }

                </div>
            </nav>

        </div>

    </div>

    <div class="container content anim-5">
        <div class="row">
            <div class="col">
                <p class="p1 h1 mb-5">Расчет тепловых потерь через печные окна</p>
            </div>
        </div>
    </div>
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="container content anim-5">
            <div class="row">
                <div class="col">
                    <p class="p2 h5">Зарегистрировавшись, вы сможете приступить к расчётам</p>
                    <a href="~/Account/Register" class="btn btn-outline-light btn-lg bt_z">Зарегистрироваться</a>
                </div>
            </div>
        </div>
    }
</header>